/** Google Fonts API. */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/**
 * Global variables.
 * =================
 */

:root {

	/** Color scheme. */

	--slate-gray: #566573;
	--dark-gray: #abb2b9;
	--charcoal: #424929;
	--gray: #e5e8e8;
	--light-gray: #ebedef;
	--silver: #eaeded;
	--ash: #e5e7e9;
	--snow: #f8f9f9;
	--white: #fff;
	--crimson-red: #922b21;
	--red: #c0392b;
	--muted-red: #d98880;
	--blood-orange: #d35400;
	--orange: e67e22;
	--muted-orange: #f5b041;
	--yellow: #f4d03f;


	/** Typography. */
	--font-sans-serif: Karla, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Corbel, Tahoma, Verdana, Helvetica, Arial, sans-serif;
	--font-serif: 'Playfair Display', Georgia, Times, 'Times New Roman', serif;
}


/**
 * Generic, universal reset and box sizing model.
 * ==============================================
 */

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

html {
	font: 400 1rem/1.5rem var(--font-sans-serif);
	text-rendering: optimizeLegibility;
}

/**
 * Page heading.
 * =============
 */

header#page-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, var(--red), var(--blood-orange), var(--muted-orange), var(--yellow));
	padding: 1.5rem;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

/** Heading. */
header#page-heading h1 {
	font-family: var(--font-serif);
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--white);
	text-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

